<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="Silt.DBConn.SqlServer.QQ" connectionString="data source=USER-20170329QZ\LANGSERVER;Initial Catalog=TaobaoL;User ID=sa;Password=123;Provider=SQLOLEDB.1;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    <add key="ShopName" value="nsqBb6i4T2lvMcb8OSNpWzuT5ME"/>
    
    <add key="TainID" value="RK6yiej61AoFmdQjozM5515cnpEaFeO6sPuhspCDv4OOuNeaiAcrxKPSuQ32Lm2wtSgjBH5O1gbZuQlHSXaSZl6NxPWmvnTqaqETejK+j5uHuOnxD+O5Xi4MvT5m2vBU4Cyk3aqMWkH7A29el/zc561zXwxWhBE3PvMOd4+KSVs="/>
    <!--通用-->
    <add key="SqlDSN" value="LNPe5mQuduDd50Vx20CnW7HIfy8vuTHRGGZXQDRrna989g759eii2PbMmX3gve7zRlpR9hI1EA6JWLXxMGcdvQYrvnRcxlplkmTtTz91yO9zI0OYpZAZXIAALfvYgm/C2shCY3Tf5f5ldpvJLeOT5mRvzYNLeq06"/>
    <!--挂烫机-->
    <add key="GuaTang" value="LNPe5mQuduDd50Vx20CnW7HIfy8vuTHRsZUEYWMBiyoI5/gkIatoTkIVoozcYvMnYi9UXBLDGyxQs/wlw2nyUo2oSJ9YwIkDwhh+DdWkHEvWS4lAT1C9/r41/grJLVH9PPKivBXisXuoJYeimkArPDBuZSgZM6WJ"/>
    <!--除湿-->
    <add key="CHUSI_CM" value="LNPe5mQuduDd50Vx20CnW7HIfy8vuTHRsZUEYWMBiyoI5/gkIatoTkz/5uQaadg1vz4+NUGrlyV8rty1AAIlSBdtdyTn3w358HzCnMnWrU+P34s7ub2Ep0W/nsqBb6i4T2lvMcb8OSNpWzuT5MEvWnjHs1oxR98c"/>
    <!--空调扇-->
    <add key="KongTiao" value="LNPe5mQuduDd50Vx20CnW7HIfy8vuTHRsZUEYWMBiyoI5/gkIatoTrY+Q1E8Z4/AwgNbd8Ngl6FLEMxqYvR24NjIqePzc3cyB3CvTLlC9hkLH/EJ9y3Kde7PL2oVFXOK/yh96RhELGC//Rs0ehPrP6zD/x9bzVZvwPou5WUOuCs="/>
    <!--电风扇-->
    <add key="DianFengShan" value="LNPe5mQuduDd50Vx20CnW7HIfy8vuTHRsZUEYWMBiyoI5/gkIatoTqDrJMQQVUihchQKHeSyy562pS8PznHaGE9w3hguX89pMGG1UuDxA9tsyVIWW77WOa/+tC0hp/3cAPikuNy99TfNIpdn75QGBNGYSPJgLE/W"/>
    <!--加湿器-->
    <add key="JASHI_CM" value="LNPe5mQuduDd50Vx20CnW7HIfy8vuTHRsZUEYWMBiyoI5/gkIatoTqDrJMQQVUihchQKHeSyy562pS8PznHaGE9w3hguX89pMGG1UuDxA9tsyVIWW77WOa/+tC0hp/3cAPikuNy99TfNIpdn75QGBNGYSPJgLE/W"/>
    <!--标认-->
    <add key="BlueCOULE" value=""/>

    <!--挂烫机系统-除湿JASHI_CM-空调扇KongTiao-电风扇DianFengShan-->
    <!-- <add key="ESysName" value="GuaTang"/>-->
    <!--<add key="ESysName" value="DianFengShan"/>-->
    <!--<add key="ESysName" value="KongTiao"/>-->
    <add key="ESysName" value="JASHI_CM"/>

    <add key="CHCName" value="空调扇"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GoEXSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
       <endpoint address="http://www.syruq.cn/goex.asmx" binding="basicHttpBinding"
        bindingConfiguration="GoEXSoap1" contract="ELangWebService.GoEXSoap"
        name="GoEXSoap1" />
    </client>
  </system.serviceModel>
</configuration>
